.reset-password-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.reset-password-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-button:hover {
  background-color: #0056b3;
}
