<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史考试成绩</title>
    <!-- 引入 Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> <!-- 导入 Moment.js 库 -->
</head>
<body>
    <h2>历史考试成绩</h2>
        <form method="POST" action="{% url 'class_exam_scores' class_id=class_id %}">
        {% csrf_token %}
        <label for="exam_date">选择考试日期：</label>
        <input type="date" name="exam_date" id="exam_date">
        <button type="submit">查看成绩</button>
    </form>
    {% if exam_scores %}
        <h2>{{ selected_date }}的考试成绩</h2>
        <table border="1">
            <tr>
                <th>考试时间</th>
                <th>学生</th>
                <th>考试类型</th>
                <th>语文</th>
                <th>数学</th>
                <th>物理</th>
                <th>化学</th>
                <th>英语</th>
                <th>生物</th>
                <th>政治</th>
                <th>历史</th>
                <th>地理</th>
                <th>总分</th>
                <th>备注</th>
            </tr>
            {% for exam_score in exam_scores %}
                <tr>
                    <td>{{ exam_score.exam_time }}</td>
                    <td>{{ exam_score.student.name }}</td>
                    <td>{{ exam_score.exam_type }}</td>
                    <td>{{ exam_score.chinese }}</td>
                    <td>{{ exam_score.math }}</td>
                    <td>{{ exam_score.physics }}</td>
                    <td>{{ exam_score.chemistry }}</td>
                    <td>{{ exam_score.english }}</td>
                    <td>{{ exam_score.biology }}</td>
                    <td>{{ exam_score.politics }}</td>
                    <td>{{ exam_score.history }}</td>
                    <td>{{ exam_score.geography }}</td>
                    <td>{{ exam_score.total }}</td>
                    <td>{{ exam_score.remarks }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <canvas id="totalChart" width="400" height="200"></canvas> <!-- Canvas 元素用于显示总分图表 -->
    <canvas id="subjectChart" width="400" height="200"></canvas> <!-- Canvas 元素用于显示其他学科图表 -->

    <script>
        // 获取历史考试成绩数据
        var examScores = [
            {% for scores_data in scores_datas %}
                { 
                    chinese: {{ scores_data.subject_averages.语文 }},
                    math: {{ scores_data.subject_averages.数学 }},
                    physics: {{ scores_data.subject_averages.物理 }},
                    chemistry: {{ scores_data.subject_averages.化学 }},
                    english: {{ scores_data.subject_averages.英语 }},
                    biology: {{ scores_data.subject_averages.生物 }},
                    politics: {{ scores_data.subject_averages.政治 }},
                    history: {{ scores_data.subject_averages.历史 }},
                    geography: {{ scores_data.subject_averages.地理 }},
                    total: {{ scores_data.total_average }},
                    examTime: '{{ scores_data.exam_date }}'
                },
            {% endfor %}
        ];

       // 先按照考试时间排序
        examScores.sort(function(a, b) {
            return moment(a.examTime, "MMMM D, YYYY, h:mm:ss a").toDate() - moment(b.examTime, "MMMM D, YYYY, h:mm:ss a").toDate();
        });

        var parsedDates = examScores.map(function(examScore) {
            return moment(examScore.examTime, "MMMM D, YYYY, h:mm:ss a").format("YYYY-MM-DD");
        });


        // 使用 Chart.js 创建总分图表
        var totalCtx = document.getElementById('totalChart').getContext('2d');
        var totalChart = new Chart(totalCtx, {
            type: 'line',
            data: {
                labels: parsedDates,
                datasets: [{
                    label: '总分',
                    data: examScores.map(function(score) { return score.total; }),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMax: 100 // 设置纵轴最大值为 100
                    }
                }
            }
        });

        // 使用 Chart.js 创建其他学科图表
        var subjectCtx = document.getElementById('subjectChart').getContext('2d');
        var subjectChart = new Chart(subjectCtx, {
            type: 'line',
            data: {
                labels: parsedDates,

                datasets: [
                    {
                        label: '语文',
                        data: examScores.map(function(score) { return score.chinese; }),
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '数学',
                        data: examScores.map(function(score) { return score.math; }),
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '物理',
                        data: examScores.map(function(score) { return score.physics; }),
                        borderColor: 'rgba(255, 206, 86, 1)',
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '化学',
                        data: examScores.map(function(score) { return score.chemistry; }),
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '英语',
                        data: examScores.map(function(score) { return score.english; }),
                        borderColor: 'rgba(153, 102, 255, 1)',
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '生物',
                        data: examScores.map(function(score) { return score.biology; }),
                        borderColor: 'rgba(255, 159, 64, 1)',
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '政治',
                        data: examScores.map(function(score) { return score.politics; }),
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '历史',
                        data: examScores.map(function(score) { return score.history; }),
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: '地理',
                        data: examScores.map(function(score) { return score.geography; }),
                        borderColor: 'rgba(255, 206, 86, 1)',
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMax: 100 // 设置纵轴最大值为 100
                    }
                }
            }
        });

    </script>
</body>
</html>

               
