<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑学生信息</title>
</head>

<body>
    <h1>编辑学生信息</h1>
    <form method="post">
        {% csrf_token %}
        <label for="student_id">学号:</label>
        <input type="text" id="student_id" name="student_id" value="{{ student.student_id }}"><br><br>
        
        <label for="name">姓名:</label>
        <input type="text" id="name" name="name" value="{{ student.name }}"><br><br>
        
        <label for="gender">性别:</label>
        <input type="text" id="gender" name="gender" value="{{ student.gender }}"><br><br>
        
        <label for="ethnicity">民族:</label>
        <input type="text" id="ethnicity" name="ethnicity" value="{{ student.ethnicity }}"><br><br>
        
        <label for="grade">年级:</label>
        <input type="text" id="grade" name="grade" value="{{ student.grade }}"><br><br>
        
        <label for="class_id">班级:</label>
        <input type="text" id="class_id" name="class_id" value="{{ student.class_id }}"><br><br>
        
        <label for="evaluation_id">评价ID:</label>
        <input type="text" id="evaluation_id" name="evaluation_id" value="{{ student.evaluation_id }}"><br><br>
        
        <label for="transcript_id">成绩单ID:</label>
        <input type="text" id="transcript_id" name="transcript_id" value="{{ student.transcript_id }}"><br><br>
        
        <button type="submit">保存</button>
    </form>
</body>
</html>
